<div class="header"> {{ title }} </div>

<div class="content-body">
    <nav class='nav-style'>
        <ul>
            <li>
                <button class="nav-btn" type="button" (click)="goToHome()">Home</button>
            </li>
            <li>
                <button class="nav-btn" type="button" (click)="onClick()">Go to Payment Section</button>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

    <div class="content-section">
        <div class="heading-section"> Credit Cards </div>
        <div class="credit-card-container">
            <div class="credit-card" *ngFor="let creditCardPayment of creditCardDetailsList">
                <div class="bank-name">Bank</div>
                <div class="cardNo">{{ creditCardPayment.getCreditCardNumber() }}</div>
                <div class="exp-date">
                    <div class="valid-thru">VALID <br> THRU</div>
                    <div class="e-date"> {{ creditCardPayment.getExpirationDate() }} </div>
                </div>
                <div class="cvv">CCV <span class="cvv-no"> {{ creditCardPayment.getSecurityCode() }} </span></div>
                <div class="card-holder-name"> {{ creditCardPayment.getCardHolder() }} </div>
                <div class="amount"> {{ creditCardPayment.getAmount() }} </div>
            </div>
        </div>
    </div>


</div>

<div class="footer"></div>